#without-spacing {
  margin: 0;
  padding: 0;
}

#with-border {
  border: 2px solid #4ed9ff;
  border-radius: 12px;
  text-align: center;
  padding: 6px 0;
}

#with-padding {
  /* padding: 32px 0 0 20px; */
  padding-top: 32px;
  padding-left: 20px;
  border: 1px solid black;
}

.links-list li {
  border-left: 2px solid #1f3fcb;
  padding-left: 6px;
}

.links-list {
  list-style: none;
}

#square {
  background-color: chocolate;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}