* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1240px;
  padding: 12px 80px;
}

a {
  text-decoration: none;
}

.links {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
}

.logo {
  display: flex;
  justify-content: space-between;
}

header {
  height: 100px;
}

button {
  height: 40px;
}

.box-1 {
  height: 100px;
  width: 100px;
  background-color: #37a8ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-2 {
  height: 100px;
  width: 100px;
  background-color: #94ffa7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-3 {
  height: 100px;
  width: 100px;
  background-color: #ffc596;
  display: flex;
  justify-content: center;
  align-items: center;
}

.positions {
  background-color: #828282;
  height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}